.dashboard-container {
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #455A64;
}

h1 {
  font-size: 2.5rem;
  color: #74417D;
  margin-bottom: 25px;
}

.card-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.dashboard-card {
  background-color: white;
  border: 2px solid #74417D;
  border-radius: 12px;
  padding: 1.5rem;
  flex: 1 1 250px;
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card h2 {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
  color: #74417D;
}

.dashboard-card p {
  margin: 0;
  font-size: 0.95rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #CF95D9, #455A64);
  padding: 1rem 2rem;
  color: white;
  font-family: sans-serif;

}

.navbar-logo {
  margin-right: 30rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.activeTab {
  background-color: transparent;
  color:white;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

activeTab:hover {
  transform: translateY(-5px);
  color: #CF95D9;
}

.dashboard-card .icon {
  font-size: 40px;
  color: #8C4E97;
  margin-bottom: 10px;
}
.navbar .icon{
  margin-right: .5rem;
}
.logo-icon {
  font-size: 24px;
  color: white;

}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background-color: #F9F7FC;
  border: 2px solid #CF95D9;
  border-radius: 20px;
  padding: 2rem;
  width: 90%;
  max-width: 480px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-header h3 {
  font-size: 1.4rem;
  color: #8C4E97;
  margin: 0;
}

.close-btn {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  color: #B16668;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-btn:hover {
  transform: scale(1.2);
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-body input {
  padding: 10px 12px;
  border: 1px solid #CF95D9;
  border-radius: 10px;
  background-color: #fff;
  font-size: 0.95rem;
  transition: border-color 0.2s;
}

.modal-body input:focus {
  outline: none;
  border-color: #CF95D9;
}

.btn {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: #8C4E97;
  border-color: #8C4E97;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-offer{
  background-color:  #8C4E97;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width:100px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;

}

.btn-offer:hover {

  background-color: #CF95D9;

}

h3{
  color:#8C4E97;


}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
.list{

  overflow-y: scroll;
  overflow-x: hidden;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}


.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  border-radius: 12px;
}



thead {
  background-color: #8C4E97;
  font-weight: bold;
  text-align: left;
  color: white;
}

th, td {
  padding: 8px 16px;
  border-bottom: 1px solid #eaeaea;
  font-size: 14px;
}


tbody tr:last-child td {
  border-bottom: none;
}


tbody tr:hover {
  background-color: #f9f9f9;
}


.filter {
  margin-bottom: 16px;
  padding: 8px 12px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.back-btn {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #8C4E97;
  margin-right: 5px;
  transition: color 0.3s ease;
}

.back-btn:hover {
  color:  #CF95D9;
}
