.dashboard-container {
  padding: 2rem;
  font-family:  "Roboto", sans-serif;
  background-color: #f3f4f6;
  max-width: 1200px;
  min-height: 100vh;
  border-radius: 5px;
  margin-left: 260px;
  margin-bottom: 20px;
}
.right-section i{
  color: #5468FE;
  font-size: 1.5rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

.dashboard-container i{
  font-size: 1.5rem;
  color: #182C4D;
  margin-bottom: 20px;

}

.card-container {
  display: flex;
  gap: 2rem;
  background-color:#f0f0f0;
  flex-wrap: wrap;
}

.dashboard-card {
  background-color: white;
  border: 2px solid #182C4D;
  border-radius: 12px;
  padding: 1.5rem;
  flex: 1 1 250px;
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.dashboard-card i{
  color: #182C4D;
  font-size: 2rem;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card h2 {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
  color: #182C4D;
}

.dashboard-card p {
  margin: 0;
  font-size: 0.95rem;
}
.navbar {
  position:fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #182C4D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.title{
  align-items: center;
  display: flex;

}
.navbar-logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin: 3rem 0.5rem;
  text-align: center;
}
.navbar-logo i{
  color: #182C4D;

}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.nav-btn {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-btn:hover,
.nav-btn.activeTab {
  background-color: white;
  border: 1px solid white;
  color: #182C4D;
}



.dashboard-card .icon {
  font-size: 40px;
  color: #182C4D;
  margin-bottom: 10px;
}
.navbar .icon{
  margin-right: .5rem;
}
.logo-icon {
  font-size: 24px;
  color: white;

}


.profile-container {
  max-width: 900px;
  margin: auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
}
.profile-container p{
  font-family: "Roboto", sans-serif;
  color: #454545;
}
.profile-container i{

  align-items: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #182C4D;
}
.profile-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
}

.profile-photo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.profile-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border:0px solid #333333;
}

.photo-upload {
  flex-direction:row;
  align-items: center;
  display:flex;
}
.fas fa-user{
  color: #182C4D;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  font-size: 0.2rem;
}

.upload-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #5468FE;
}

input[type="file"] {
  margin-bottom: 0.3rem;
}

.choose-text {
  font-size: 0.9rem;
  color: #555;
}

.profile-info {
  flex: 1;
}

.field-group {
  margin-bottom: 1.5rem;
  margin-left: 8rem;

}
.download-link {
  text-decoration: none;
  color: #5468FE;
  font-weight: 600;
  border: 1px solid #5468FE;
  padding: 6px 12px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}

.download-link:hover {
  background-color: #182C4D;
  color: white;
}

.field-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: #5468FE;
}

.field-editable {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.field-editable input,
.field-editable textarea {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  max-width: 200px;
  transition: all 0.2s ease-in-out;

}

.field-editable button {
  background: #5468FE;
  border: none;
  padding: 0.4rem 0.6rem;
  font-size: 1.1rem;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.field-editable button:hover {
  background-color: #5468FE;
}

.profile-section {
  margin-top: 2rem;
}



.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
}

.tag input {
  border: none;
  background: transparent;
  font-size: 0.95rem;
  width: auto;
  padding: 0.2rem;
  outline: none;
  color: #333;
}


.tag button {
  background: none;
  border: none;
  color: #5468FE;
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.add-tag {
  background-color: #5468FE;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-tag:hover {
  background-color: #5468FE;
}


.profile-actions {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.btn-save,
.btn-logout {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-save {
  background: #5468FE;
  color: #fff;
}

.btn-logout {
  background: #5468FE;
  color: #fff;
}

.btn-save:hover {
  background-color: #5468FE;
}

.btn-logout:hover {
  background-color: #5468FE;
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 2px dashed #ccc;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.empty-icon {
  font-size: 2.5rem;
  color: #8896FE;
  margin-bottom: 0.5rem;
}


.empty-state p {
  color: #888;
  font-size: 0.95rem;
}
.favorites-container {
  padding: 2rem;
  max-width: 90%;
  min-height: 100%;
  margin: 30px 120px;
  overflow-x: auto;
}

.fas fa-heart{
 align-items: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #5468FE;
}


.favorites-grid {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  overflow-x: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


.favorite-card {
  flex: 1 1 calc(25% - 1rem);
  min-width: 220px;
  max-width: 200px;
  background: #fff;
  border-radius: 12px;
  border: 2px solid #8896FE;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
}

.favorite-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
  border: 2px solid #5468FE;
}

.favorite-card h3 {
  font-size: 1.1rem;
  color: #455A64;
  margin-bottom: 0.5rem;
}

.favorite-card a {
  text-decoration: none;
  color: #5468FE;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

.favorite-card a:hover {
  text-decoration: underline;
}


.favorite-card .delete-btn {
  background: transparent;
  border: none;
  color: #5468FE;
  cursor: pointer;
  align-self: flex-end;
  transition: color 0.3s ease;
}

.favorite-card .delete-btn:hover {
  color: #8896FE;
}
.see-offer-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: white;
  max-width: 100px;
  color: #5468FE;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.3s ease;
}




@media (max-width: 768px) {
  .favorite-card {
    flex: 1 1 calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .favorite-card {
    flex: 1 1 100%;
  }
}
.alerte-card {
  border: 1px solid #ccc;
  border-left: 5px solid #5468FE;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease;
}

.alerte-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.alerte-card h4 {
  margin: 0;
  color: #333;
  font-size: 1.2rem;
  font-weight: bold;
}

.alerte-card p {
  margin: 0.5rem 0;
  color: #555;
}

.alerte-card a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #5468FE;
  text-decoration: none;
}

.alerte-card a:hover {
  text-decoration: underline;
}

.alerte-actions {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.alerte-card button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #6c757d;
  transition: color 0.2s;
}

.alerte-card button:hover {
  color: #5468FE;
}

.alerte-card i.fa-eye {
  color: #182C4D;
  font-size: 1.3rem;
  cursor: pointer;
}

.alerte-card i.fa-eye-slash {
  color: #6c757d;
  font-size: 1.3rem;
  cursor: pointer;
}
.alerte-card i.fas fa-trash-alt{
  color: #6c757d;
  font-size: 1.3rem;
  cursor: pointer;

}
.header-container {
  width: 79%;
  margin-left: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f3f4f6;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  flex: 1;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #3b82f6;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
}
.avatar-container {
  position: relative;
  cursor: pointer;
}

.avatar-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.profile-dropdown {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: white;
  color: #333;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #5468FE;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  min-width: 160px;
}

.signup{
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
  color:#5468FE;
  background-color: white;
  border: 1px solid #5468FE;
  text-align: center;
  margin: 0.5rem auto;
  border-radius: 15px;
}
.login{
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  cursor: pointer;
  color:white;
  background-color: #5468FE;
  text-align: center;
  margin: 0.5rem auto;
  border-radius: 15px;
  border: 1px solid #5468FE;

}


.login:hover {
  transform: scale(1.1);
}
.signup:hover {
  transform: scale(1.1);
}

.user-name {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #5468FE;
}


.nav-buttons-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logout-container {
  margin-top: 170px; /* pousse le logout vers le bas */
}
