<div class="container">
  <div class="container-login">
    <header class="header">
      <div class="logo">Job<span>Board</span></div>
      <div class="nav-links">
        <a routerLink="/login" class="login-link">Login</a>
        <a routerLink="/signup" class="nav-link">Sign Up</a>
      </div>
    </header>

    <div class="login-content">
      <section class="login-form">
        <p class="login-subtitle"> A link has been sent to your email. Please check it and set a new password!</p>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>
          <input type="password" formControlName="password" placeholder="Password" aria-label="Password" class="input-field" />
          <div class="error-text" *ngIf="hasError('password', 'required')">Password is required</div>

          <button type="submit" [disabled]="resetForm.invalid || isLoading" class="btn-submit" >
            <ng-container *ngIf="!isLoading; else loading">Login</ng-container>
            <ng-template #loading><span class="spinner"></span> Logging in...</ng-template>
          </button>
        </form>

      </section>

      <!-- Illustration Section -->
      <aside class="login-image">
        <img src="/signup.png" alt="Person logging in illustration" />
      </aside>
    </div>
  </div>
</div>
