<div class="container">
  <div class="box">
    <div class="left">
      <img src="/joboffers.gif" alt="Job Hunt Animation" class="job"/>
      <p class="attribution">
        <a href="https://storyset.com/job" target="_blank" rel="noopener noreferrer">
        </a>
      </p>
    </div>
    <div class="right">
      <div class="title">
        A link has been sent to your email. Please check it and set a new password!
      </div>
      <form class="formulaire" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <input type="password" formControlName="password" placeholder="Password" class="input-field">
        <small *ngIf="hasError('password', 'minlength')" class="error-text">
          Password must be at least 6 characters
        </small>

        <input type="password" formControlName="confirmPassword" placeholder="Confirm your Password" class="input-field">
        <small *ngIf="hasError('password', 'required')" class="error-text">
          Password is required
        </small>

        <button type="submit" class="btn" [disabled]="resetForm.invalid || isLoading">
          <ng-container *ngIf="!isLoading; else loading">
            Login
          </ng-container>
          <ng-template #loading>
            <span class="spinner"></span> Login...
          </ng-template>
        </button>
      </form>


    </div>
  </div>
</div>
