html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 80px;  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.toast-center-custom {
  top: 10% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.ngx-toastr {
  pointer-events: none;
}

.toast {
  margin: 0 !important;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #333;
  color: #fff;
}

.toast.ngx-toastr.toast-success,
.toast.ngx-toastr.toast-error,
.toast.ngx-toastr.toast-info,
.toast.ngx-toastr.toast-warning {
  opacity: 1;
}
.toast-success {
  background-color: #8C4E97 !important;
  color: #fff !important;
}
.toast-error {
  background-color: #171616 !important;
  color: #fff !important;
}
.toast-info{
  background-color: white !important;
  color: #8C4E97 !important;
}


.transparent-navbar {
  background-color: transparent;
}

.gray-navbar {
  background-color: #EBEBEB;

}











