.container {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  .navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color:white;
    gap: 10px;
  }
  .navbar-logo i {
    color:#5468FE;
  }
  .error-text {
    color: #f40909;
    font-size: 15px;
    margin-top: 5px;
    display: block;
  }
  .form-section {
    flex: 1;
    background: #182C4D;
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      color: #a0a0a0;
      margin-bottom: 2rem;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
      }

      input, textarea, select {
        background: #1f2735;
        border: none;
        padding: 0.75rem;
        border-radius: 8px;
        color: white;
        margin-bottom: 1rem;
      }

      button {
        background: #5468FE;
        padding: 0.75rem;
        border: none;
        border-radius: 8px;
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
          background: #8896FE;
          cursor: not-allowed;
        }
      }
    }
  }

  .info-section {
    flex: 1;
    background: linear-gradient(to bottom right, #0065f2, #8896FE);
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .step-indicator {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      .step {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #222;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        &.done {
          background: #455A64;
        }

        &.current {
          background: #455A64;
        }
      }

      .line {
        height: 4px;
        width: 40px;
        background: #444;
        margin: 0 10px;
      }
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0.5rem 0;
        font-size: 1rem;
        display: flex;
        align-items: center;
      gap: 0.5rem;
      }
    }

  }
}
