.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 89px;
  background-color: whitesmoke;
}
.search-bar {
  display: flex;

  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  gap: 20px;
  width: 100%;
  background-color: whitesmoke;
  z-index: 10;
}

.input-icon {
  position: relative;
  width: 250px;
  margin-right: 30px;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: black;
  font-size: 16px;
}

.input-icon input {
  width: 100%;

  padding: 8px 8px 8px 35px;
  border: 1px solid #0065f2;
  border-radius: 5px;
  font-size: 16px;
}

.content {
  display: flex;
  margin-top: 50px;
  height: calc(100vh - 90px); /* 90px compensent la navbar */
  overflow-y: hidden;
}

.filters {
  width: 250px;
  min-width: 200px;
  max-width: 20%;
  height: 100%;
  max-height: 500px;
  overflow:hidden;
  padding: 15px;
  margin-left: 20px;
  background-color: white;
  border: 2px solid #0065f2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  position: sticky;
  top: 10px;

}

.filters h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #134283;
}

.filters label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #134283;
}

.filters select,
.filters input {
  width: 100%;
  max-width: 220px;
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reset-btn {
  margin-top: 15px;
  width: 100%;
  background-color: #134283;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.reset-btn:hover {
  background-color: #5468FE;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #134283;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  display: inline-block;
  margin: 0 5px;
  font-weight: bold;
}

.job-list {
  margin-left:150px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-content: flex-start;
  overflow-y: scroll;

}

.job-card {
  background-color: white;
  border: 2px solid #0065F2;
  border-radius: 8px;
  padding: 15px;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  max-height: 180px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.job-card:hover {
  border-color: #134283;

}

.job-card h3 {
  color: #134283;
  margin-bottom: 10px;
}

.job-card i {
  color: black;
}

.see {
  background-color: #134283;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.see:hover {
  background-color: #5468FE;
}

