.content {
  display: flex;
  flex-grow: 1;
  margin-top: 10px;
  height: calc(100vh - 60px);
  min-width:calc(100vh - 60px) ;
  min-height: calc(100vh - 60px);


}




.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}


@keyframes moveStars {
  from {
    background-position: 0 0, 25px 25px;
  }
  to {
    background-position: 1000px 1000px, 1025px 1025px;
  }
}


.box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 500px;
  max-width: 100%;
  text-align: center;
  display: flex;
}


.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  position: relative;
  gap: 10px;
  width: 48%;




  .search {
    background-color: #CF95D9;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;


    &:hover {
      background-color: #CF95D9;
    }
  }
}
.filters {
  width: 15%;
  min-width: 200px;
  height: 70%;
  margin-left: 20px;
  padding: 15px;
  border-radius: 8px  ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  position: relative;
  border: 2px solid #CF95D9;



  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #8C4E97;
  }

  ul {
    list-style: none;
    padding: 0;
    color: #8C4E97;

    li {
      cursor: pointer;
      padding: 8px;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #8C4E97;
        color: white;
      }

      &.selected {
        background-color: #CF95D9;
        color: white;
      }
    }
  }
}

.job-list {
  width: 75%;
  margin-left: 5%;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  align-items: stretch;

  h3{
    color: #8C4E97;
  }
  i{
    color: #455A64;
  }
}

.job-card {
  background: white;
  margin-left: 80px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: calc(33.33% - 20px);
  min-width: 250px;
  max-height: 200px;
  transition: border 0.3s ease-in-out;
  border: 2px solid #CF95D9;
  margin-bottom: 20px;
  flex-shrink: 0;


  &:hover {
    border-color: #8C4E97;
  }
}

.see {
  background-color:#8C4E97;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 10px;

  &:hover {
    background-color: #CF95D9;
  }
}
.input-icon {
  position: relative;
  width: 250px;
  margin: 0 20px;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #455A64;
  font-size: 16px;
}

.input-icon input {
  width: 100%;
  padding: 8px 8px 8px 35px;
  border: 1px solid #CF95D9;
  border-radius: 5px;
  font-size: 16px;
}

