.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 4rem;
  z-index: 10;
  background-color:#ead6ed;
  overflow: auto;
}

.logo-img {
  width: 32px;
  height: 32px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #8C4E97;
  gap: 10px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2.5rem;
}

.navbar-links a {
  text-decoration: none;
  color: #8C4E97;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.navbar-links a:hover,
.navbar-links a.active {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #CF95D9;
  color: #74417D;
}

