
.job-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  min-height: 100vh;

  .content {
    display: flex;
    gap: 50px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
  }

  .left {
    flex: 1;
    padding: 20px;

    h2 {
      color: #CF95D9;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      color: #555;
      margin-bottom: 10px;
    }

    .btns {
      display: flex;
      gap: 10px;
      margin-top: 25px;
    }

    .btn-off,
    .save {
      padding: 10px 15px;
      background: #B16668;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;

    }
  }
  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .offer {
      width: 100%;
      max-width: 400px;
      height: auto;
      border-radius: 8px;
    }
  }
}
