.job-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  margin-top: 5rem;
  justify-content: center;
}

.job-main {
  flex: 2;
  min-width: 320px;
  background: white;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #7AA3FF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.job-sidebar {
  flex: 1;
  min-width: 280px;
  background: white;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid #7AA3FF;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.back-btn {
  background: none;
  border: none;
  color: #455A64;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: transform 0.2s ease;
}
.back-btn:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 2.3rem;
  color: #0b3285;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.7rem;
  color: #7AA3FF;
  margin-bottom: 10px;
}

h3 {
  color: #0b3285;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.job-main p {
  font-size: 1.1rem;
  color: #444;
}

.company-name {
  font-style: italic;
  font-weight: 500;
  color: #455A64;
  margin-bottom: 1rem;
}

.badge {
  background-color: #E3EBFF;
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid #7AA3FF;
  color: #0b3285;
  font-size: 0.9rem;
  margin-right: 8px;
}

.job-sidebar h3 {
  font-size: 1.3rem;
  color: #0b3285;
  margin-bottom: 1.5rem;
}

.info-block {
  margin-bottom: 20px;
  align-items: center;
  display: flex;
}

.job-sidebar i {
  color: #455A64;
  margin-right: 8px;
  font-size: 18px;
}

.job-sidebar strong {
  font-weight: bold;
  color: #0b3285;
  display: block;
  margin-bottom: 4px;
}

.job-sidebar p {
  color: #333;
  font-size: 1rem;
  margin-left: 26px;
}

.job-sidebar .buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 2rem;
  align-items: center;
}

.job-sidebar .buttons button {
  width: 100%;
  max-width: 200px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #0b3285;
  cursor: pointer;
  transition: all 0.3s ease;
}

.job-sidebar .buttons button:first-child {
  background-color: white;
  color: #0b3285;
}

.job-sidebar .buttons button:first-child:hover {
  background-color: #F9F0FA;
  transform: scale(1.05);
}

.job-sidebar .buttons button:last-child {
  background-color: #0b3285;
  color: white;
}

.job-sidebar .buttons button:last-child:hover {
  background-color: #7AA3FF;
  transform: scale(1.05);
}
.go-to-offer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  background-color: #0b3285;
  color: white;
  border: 2px solid #0b3285;
  padding: 10px 16px;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease;
  max-width: 200px;
  width: 100%;
}
.go-to-offer:hover {
  background-color: #0b3285;
  transform: scale(1.05);

}
.buttons i{
  color: #0b3285;
}

